footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
  border-radius: 20px 20px 0 0;
  background-color: rgb(10, 30, 59);

  p {
    text-align: center;
    color: rgb(255, 255, 255);
  }
}

// Repsonsive styles for smaller screens
@media only screen and (max-width: 760px) {
  footer {
    padding-block: 1rem;

    p {
      font-size: 0.9rem;
    }
  }
}
