<header>
  <a href="">Users Dashboard</a>
  <p>Date/Time</p>
</header>

<nav>
  <ul>
    <a href=""><li>Users</li></a>
    <a href=""><li>Posts</li></a>
  </ul>
</nav>

<main>
  <table>
    <tr>
      <th>name</th>
      <th>surname</th>
      <th>Phone</th>
      <th>E-mail</th>
      <th>Company</th>
    </tr>
    <tr>
      <td>Lucy</td>
      <td>Manel</td>
      <td>+1 454 56 77 654</td>
      <td>Lucy.Manle&#64;gmail.com</td>
      <td>Lucy's flowers</td>
    </tr>
  </table>

  <table>
    <tr>
      <th>User name</th>
      <th>Post Title</th>
    </tr>
    <tr>
      <td>Lucy</td>
      <td>My favourite Flower</td>
    </tr>
  </table>
</main>

<footer>
  <p>© 2025 Users Dashboard | Luka Khokhashvili | Built With Angular</p>
</footer>

<router-outlet />
