<table class="posts-table">
  <thead>
    <tr class="posts-table__title-box">
      <th>Title</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="posts-table__data-box" *ngFor="let post of posts">
      <td>{{ post.title }}</td>
      <td>
        <div class="posts-table__body">
          {{ post.body }}
        </div>
      </td>
      <td class="posts-table__buttons">
        <button class="btn btn--user">User</button>
        <button class="btn btn--details" (click)="openPopup(post)">
          Details
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal Popup -->
<div class="modal-backdrop" *ngIf="selectedPost">
  <div class="modal">
    <button class="modal__close" (click)="closePopup()">×</button>
    <h2>{{ selectedPost.title }}</h2>
    <p>{{ selectedPost.body }}</p>
  </div>
</div>
