<table class="users-table">
  <thead>
    <tr class="users-table__title-box">
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Company</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr class="users-table__data-box">
      <td>Lucy</td>
      <td>Manel</td>
      <td>+1 454 56 77 654</td>
      <td>Lucy.Manle&#64;gmail.com</td>
      <td>Lucy's Flowers</td>
      <td class="users-table__buttons">
        <button class="btn btn--posts">Posts</button>
        <button class="btn btn--todos">Todos</button>
      </td>
    </tr>
  </tbody>
</table>
